* {
    box-sizing: border-box;
      /* set this on every project, changes default, included everything through border for sizing*/
}

body {
    height: 100vh;
      /* viewport units, vh = view height, 100% of the window */
      /* vw = view width, vmin = scales size based on size of windwo */
    margin: 0;
    display: flex;
      /* centers content */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    background-color: lightyellow;
}

header {
    font-size: 8vmin;
    letter-spacing: .5vmin;
    color: darkgray;
    font-weight: bold;
    opacity: .3;
}

#msg {
    font-size: 4vmin;
    letter-spacing: .5vmin;
    color: grey;
}

section > div {
    text-align: center;
    vertical-align: middle;
    line-height: 20vmin;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}



/* play board */

#board {
    display: grid;
    grid-template-columns: repeat(3, 20vmin);
    grid-template-rows: repeat(3, 20vmin);
      /* the div will be added to this board starting at the top left going right */
    margin: 0;
  }

section > div > button {
    border: .5vmin solid lightblue;
    background-color:lightyellow;
    height: 5vmin;
    width: 5vmin;
    border-radius: 50%;
    margin: 7vmin;
}

section > div > button:hover {
    opacity: 1;
    background-color: lightblue;
    transition-duration: .3s;

}

/* grid lines */

#b0, #b3, #b6 {
    border-right: 1vmin solid rgba(128,128,128,.5);
}

#b1, #b4, #b7 {
    border-left: 1vmin solid rgba(128,128,128,.5);
    border-right: 1vmin solid rgba(128,128,128,.5);
}

#b2, #b5, #b8 {
    border-left: 1vmin solid rgba(128,128,128,.5);
}

#b3, #b4, #b5 {
    border-top: 1vmin solid rgba(128,128,128,.5);
    border-bottom: 1vmin solid rgba(128,128,128,.5);
}

#b0, #b1, #b2 {
    border-bottom: 1vmin solid rgba(128,128,128,.5);
}

#b6, #b7, #b8 {
    border-top: 1vmin solid rgba(128,128,128,.5);
}

/* play again button */

#pa {
    margin-top: 8vmin;
    border-radius: 8px;
    background-color: white;
    color: black;
    border: 2px solid black;
    opacity: 0.3;
    font-family: 'Open Sans', sans-serif;
}

#pa:hover { 
    transition-duration: .3s;
    opacity: 1;
}

